* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background: lightgray;
  font-family: sans-serif;
}

.galeria {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.galeria__titulo {
  font-size: 2rem;
  margin-bottom: 1em;
}

.galeria__contenedor {
  /* En este caso nuestro flex va a desbordar a mas de una línea */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.galeria__picture {
  min-width: 200px;
  /* El tamaño base de cada foto va a ser de 350px
  pero el flex-grow es el que hace que las fotos crezcan al doblar líneas
  si tienen mas espacio */
  flex-basis: 350px;
  flex-grow: 1;  
}

.galeria__img {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-radius: 15px;
}

